---
layout: page
title: Canaima Kueka
subtitle: Rescatando el patrimonio perdido
use-site-title: true
---
<div class="jumbotron">
  <div class="row">
    <div class="col-md-8">
      <p>
        Canaima Kueka es un sabor de la Metadistribución <a href="http://canaima.softwarelibre.gob.ve/" target="_blank">Canaima GNU/Linux</a>, orientado a desarrolladores de software que necesiten estar al día con las últimas versiones de sus aplicaciones favoritas. Canaima Kueka utiliza el código fuente descartado en Canaima Popular 4.1 y se basa en el esquema de desarrollo <em>rolling release</em>. <a href="/kueka/acerca">Leer más ...</a>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <a href="#" role="button" class="btn btn-success btn-lg disabled">
          <span class="col-md-12 text-left">Descargar Canaima Kueka 1.0</span>
        </a>
        <a href="/kueka/descargas" class="btn btn-link">Otras descargas</a>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="" src="/kueka/img/errores.svg" />
      <div class="caption">
        <h3>Reportar errores</h3>
        <p>Si encuentras un error en la distribución o necesitas ayuda, puedes reportarlo en nuestro sistema de tickets para hacerle seguimiento.</p>
        <p>
          <a href="https://github.com/CanaimaGNULinux/kueka/issues" class="btn btn-default" role="button" target="_blank">Sistema de tickets</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="" src="/kueka/img/docs.svg" />
      <div class="caption">
        <h3>Manuales y tutoriales</h3>
        <p>Accede a los manuales y tutoriales relacionados con procesos internos de la distribución que están en nuestra Wiki.</p>
        <p>
          <a href="https://github.com/CanaimaGNULinux/kueka/wiki" class="btn btn-default" role="button" target="_blank">Wiki</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="" src="/kueka/img/chat.svg" />
      <div class="caption">
        <h3>Chat de la comunidad</h3>
        <p>Visita nuestro canal en Gitter y habla directamente con los creadores de la distribución si necesitas contactarlos o compartir con la comunidad.</p>
        <p>
          <a href="https://gitter.im/CanaimaGNULinux/kueka" class="btn btn-default" role="button" target="_blank">Gitter</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="" src="/kueka/img/hoja.svg" />
      <div class="caption">
        <h3>Planificación de versiones</h3>
        <p>Acá encontrarás la planificación de las próximas versiones y proyectos de la distribución.</p>
        <p>
          <a href="https://github.com/CanaimaGNULinux/kueka/projects" class="btn btn-default" role="button" target="_blank">Hoja de ruta</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="" src="/kueka/img/paquetes.svg" />
      <div class="caption">
        <h3>Integración de paquetes</h3>
        <p>Aquí se encuentra el registro diario de las integraciones continuas de los paquetes de la distribución.</p>
        <p>
          <a href="/kueka/paquetes" class="btn btn-default" role="button" target="_blank">Paquetes</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="" src="/kueka/img/iso.svg" />
      <div class="caption">
        <h3>Integración de instaladores</h3>
        <p>Los diferentes medios de instalación se construyen a diario y acá puedes ir viendo su progreso.</p>
        <p>
          <a href="/kueka/instaladores" class="btn btn-default" role="button" target="_blank">Instaladores</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
