---
common-ext-css:
  - "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
  - "//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"
  - "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.min.css"
common-googlefonts:
  - "Lora:400,700,400italic,700italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-css:
  - "/css/main.css"
  - "/css/pygment_highlights.css"
common-ext-js:
  - "//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"
  - "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
common-js:
  - "/js/main.js"
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>

    {% include gtm_body.html %}
  
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
  
    {% include footer-scripts.html %}
  
  </body>
</html>
