---
common-ext-css:
  - "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
common-css:
  - "/css/main-minimal.css"
common-ext-js:
  - "//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"
  - "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div role="main" class="container main-content">
      {{ content }}
    </div>

    {% include footer-minimal.html %}

    {% include footer-scripts.html %}

  </body>
</html>
